@page "{id:int?}"
@model UI.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ItemModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemModel.Id" />
            <div class="form-group">
                <label asp-for="ItemModel.Name" class="control-label"></label>
                <input asp-for="ItemModel.Name" class="form-control" />
                <span asp-validation-for="ItemModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Description" class="control-label"></label>
                <input asp-for="ItemModel.Description" class="form-control" />
                <span asp-validation-for="ItemModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Price" class="control-label"></label>
                <input asp-for="ItemModel.Price" class="form-control" />
                <span asp-validation-for="ItemModel.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemModel.ImageURL" class="control-label"></label>
                 <!-- This basically makes it read only. Without it, it will update the even if we don't update-->
                <input type="file" name="ThisIsNotInTheItemModel" class="form-control" />
                <input type="hidden" asp-for="ItemModel.ImageURL" />
                <!--<input type="file" asp-for="ItemModel.ImageURL" class="form-control" />-->
                <span asp-validation-for="ItemModel.ImageURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-8">
        @if (string.IsNullOrEmpty(Model.ItemModel.ImageURL)){
			<img src="@Model.ItemModel.ImageURL" class="card-img" />
		}
     </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
